# Visual Studio
.vs/
*.suo
*.user

# Build
build/
Debug/
Release/

# CMake
CMakeUserPresets.json

# Blender backups
blender/
*.blend1
*.blend2

# X-Plane exports
*.obj

# X-Plane SDK
/SDK/

# Logs
*.log

# Reference material
reference/

third_party/
